@media only screen and (min-width: 1200px){
    .header-text{
        padding-top: 200px;
    }
}
.header-text h1{
    font-size: 48px;
}
.header-text h1 a{
    text-decoration: none;
    color: #018FA3;
}
.header-text p{
    font-size: 17px;
    font-weight: 500;
}
.header-text button{
    width: 244px;
    border-radius: 50px;
    height: 65px;
    border: none;
    background: #FAE01A;
    box-shadow: 0px 0px 10px 0px #FAE01A,
                0px 0px 20px 0px #FAE01A,
                0px 0px 40px 0px #FAE01A;
    font-size: 20px;
    font-weight: bold;
}